body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;
}

a{
    color: black;
    text-decoration: none;
}

.banner {
    background: rgb(249, 216, 226);
    padding: 70px;
    border-bottom: 4px solid pink;
}

.banner h1 {
    font-size: 40px;
    color: rgb(212, 106, 145);
}

.banner span {
    color: rgb(255, 102, 153);
}

.text {
    font-size: 16px;
    color: black;
}

.signature {
    margin-top: 30px;
    font-size: 16px;
    color: black;
}

.footer {
    background: pink;
    padding: 20px;
    margin-top: 120px;
    font-size: 16px;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navactive a.active,
.navactive a:hover {
    color: rgb(102, 0, 51);
}

.section {
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid rgb(102, 0, 51);
    border-collapse: collapse;
    box-shadow: 4px 6px lightgrey;

}

th, td{
    border: 2px solid rgb(102, 0, 51);
    padding: 5px;
    text-align: center;
}